<nav class="navbar bg-success border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-cart-plus fs-2 text-center" id="carrito"></i></a>
    
  </div>
</nav>