<link rel="stylesheet" href="/css/bootstrap.css">
<script src="/jquery/jquery.js"></script>
<script src="https://kit.fontawesome.com/18700748c0.js" crossorigin="anonymous"></script>

{{> Nav }}
{{> Saludo }}

<div class="container d-flex justify-content-center col-3">

{{> Producto }}

</div>

{{> Modal }}

{{!-- logica --}}






